/* Start Global Rules */
/* Start Variables */
:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
}
/* End Variables */
/* Start Font Faces */
@font-face {
    font-family: Bold;
    src: url(../assets/fonts/static/Inter-Bold.ttf);
    font-display: swap;
}
@font-face {
    font-family: SemiBold;
    src: url(../assets/fonts/static/Inter-SemiBold.ttf);
    font-display: swap;
}
@font-face {
    font-family: Regular;
    src: url(../assets/fonts/static/Inter-Regular.ttf);
    font-display: swap;
}
/* End Font Faces */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* End Global Rules */
body {
  font-family: Regular, Arial, Helvetica, sans-serif;
}
html {
    font-size: clamp(0.875rem, 4vw, 1rem);
}
main {
    background-color: var(--grey-900);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    padding: 2rem;
    background-color: var(--grey-800);
    text-align: center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}
img {
    width: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
h1 {
    color: var(--white);
    margin-block-end: 10px;
    font-size: 1.5rem;
}
span {
    color: var(--green);
    margin-block-end: 30px;
}
h1, span {
  font-family: SemiBold, Arial, Helvetica, sans-serif;
}
p {
    margin-block-start: 30px;
    margin-block-end: 20px;
    color: var(--white);
    font-family: Regular, Arial, Helvetica, sans-serif;
}
.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.links a {
    text-decoration: none;
    color: var(--white);
    background-color: var(--grey-700);
    padding: 1rem;
    width: 20rem;
    font-family: Bold, Arial, Helvetica, sans-serif;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}
.links a:hover, .links a:focus, .links a:active {
    color: var(--grey-700);
    background-color: var(--green);
}
.links a:active {
    -webkit-transform: scale(0.97);
    -moz-transform: scale(0.97);
    -ms-transform: scale(0.97);
    -o-transform: scale(0.97);
    transform: scale(0.97);
}
@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation: none !important;
  }
}